{% extends "base.html" %}
{% block title %}Order Detail - #{{ order.id }}{% endblock %}
{% block content %}
<h2>Order #{{ order.order_number }}</h2>
<p>Status: {{ order.status }}</p>
<p>Date: {{ order.created_at|date:"d M Y" }}</p>
<p>Grand Total: €{{ order.grand_total|floatformat:2 }}</p>
<hr>

<h3>Order Items:</h3>
<ul>
    {% for item in order.items.all %}
    <li>
        {{ item.quantity }} x {{ item.product.name }}
        {% if item.size %}
            (Size: {{ item.size.name }})
        {% else %}
            (No size)
        {% endif %}
        = €{{ item.line_total|floatformat:2 }}
    </li>
    {% endfor %}
</ul>
{% endblock %}